.container {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid rgb(248, 0, 0);
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.container__card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
}

.container__imagem {
    width: 200px;
}

.container__nomeFilme {
    font-size: 1.5rem;
}